@page "/"

<div class="container text-center">
    <div class="jumbotron p-4 p-md-5 text-dark rounded bg-light">
        <div class="col-md-12 px-0">
            <h1 class="custom-font-welcome">Welcome to My Art Portfolio</h1>
            <p class="lead my-3">Explore my collection of artworks and projects. View our work below to see more.</p>
        </div>
    </div>

    <h2 class="section-title">View Our Work</h2>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/artwork1.png" alt="Artwork 1">
                <div class="card-body">
                    <h5 class="card-title">Keifer Fanart</h5>
                    <p class="card-text text-muted">Male lead in amnse, second work.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/artwork2.png" alt="Artwork 2">
                <div class="card-body">
                    <h5 class="card-title">Jay-Jay Fanart</h5>
                    <p class="card-text text-muted">Latest work inspired by amnse</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/artwork3.png" alt="Artwork 3">
                <div class="card-body">
                    <h5 class="card-title">Yuri Fanart</h5>
                    <p class="card-text text-muted">Second lead in amnse, first work.</p>
                </div>
            </div>
        </div>
    </div>
</div>